<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Kaptcha</display-name>
   
  <!-- <welcome-file-list>
    <welcome-file>form.jsp</welcome-file>
  </welcome-file-list> -->
  
  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/login/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Kcaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    
    <!-- 边框 -->
    <init-param>
        <description>图片边框，yes（默认值）或者no</description>
        <param-name>kaptcha.border</param-name>
        <param-value>no</param-value>
    </init-param>
    <init-param>
        <description>边框颜色，white、black（默认）、blue等</description>
        <param-name>kaptcha.border.color</param-name>
        <param-value>green</param-value>
    </init-param>
    <init-param>
        <description>边框厚度大于0</description>
        <param-name>kaptcha.border.thickness</param-name>
        <param-value>10</param-value>
    </init-param>
    
    <!-- 图片宽高 -->
    <init-param>
        <description>图片宽度</description>
        <param-name>kaptcha.image.width</param-name>
        <param-value>120</param-value>
    </init-param>
    <init-param>
        <description>图片高度</description>
        <param-name>kaptcha.image.height</param-name>
        <param-value>35</param-value>
    </init-param>

    <!-- 图片样式 -->
    <init-param>
        <description>图片样式：水纹(WaterRipple)、鱼眼(FishEyeGimpy)、阴影(ShadowGimpy)</description>
        <param-name>kaptcha.obscurificator.impl</param-name>
        <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>
    </init-param>
    
    <!-- 背景 -->
    <init-param>
        <description>背景实现类</description>
        <param-name>kaptcha.background.impl</param-name>
        <param-value>com.google.code.kaptcha.impl.DefaultBackground</param-value>
    </init-param>
    <init-param>
        <description>背景颜色渐变，指定开始颜色</description>
        <param-name>kaptcha.background.clear.from</param-name>
        <param-value>209,241,166</param-value>
    </init-param>
    <init-param>
        <description>背景颜色渐变，指定结束颜色</description>
        <param-name>kaptcha.background.clear.to</param-name>
        <param-value>209,241,166</param-value>
    </init-param>
    
    <!-- 文本 -->
    <init-param>
        <description>文本集合，验证码文字从此集合中获取</description>
        <param-name>kaptcha.textproducer.char.string</param-name>
        <param-value>0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</param-value>
    </init-param>
    <init-param>
        <description>验证码长度</description>
        <param-name>kaptcha.textproducer.char.length</param-name>
        <param-value>4</param-value>
    </init-param>
    <init-param>
        <description>文字间隔</description>
        <param-name>kaptcha.textproducer.char.space</param-name>
        <param-value>10</param-value>
    </init-param>
    <!-- 字体 -->
    <init-param>
        <description>字体Arial，Courier</description>
        <param-name>kaptcha.textproducer.font.names</param-name>
        <param-value>Courier</param-value>
    </init-param>
    <init-param>
        <description>字体大小</description>
        <param-name>kaptcha.textproducer.font.size</param-name>
        <param-value>25</param-value>
    </init-param>
    <init-param>
        <description>字体颜色，white、black（默认）、blue等</description>
        <param-name>kaptcha.textproducer.font.color</param-name>
        <param-value>red</param-value>
    </init-param>

    <init-param>
        <description>文字渲染器</description>
        <param-name>kaptcha.word.impl</param-name>
        <param-value>com.google.code.kaptcha.text.impl.DefaultWordRenderer</param-value>
    </init-param>

    <!-- 图片和文本的实现类 -->
    <init-param>
        <description>图片实现类,可以重写这个类实现我们自己的图片</description>
        <param-name>kaptcha.producer.impl</param-name>
        <param-value>com.google.code.kaptcha.impl.DefaultKaptcha</param-value>
    </init-param>
    <init-param>
        <description>文本实现类</description>
        <param-name>kaptcha.textproducer.impl</param-name>
        <param-value>com.google.code.kaptcha.text.impl.DefaultTextCreator</param-value>
    </init-param>
    
    <!-- 干扰 -->
    <init-param>
        <description>干扰实现类</description>
        <param-name>kaptcha.noise.impl</param-name>
        <param-value>com.google.code.kaptcha.impl.DefaultNoise</param-value>
    </init-param>
    <init-param>
        <description>干扰颜色,合法值r,g,b或者white、black、blue</description>
        <param-name>kaptcha.noise.color</param-name>
        <param-value>237,221,223</param-value>
    </init-param>
    
    <init-param>
        <description>session中存放验证码的key键</description>
        <param-name>kaptcha.session.key</param-name>
        <param-value>KAPTCHA_SESSION_KEY</param-value>
    </init-param>
	</servlet>
	<servlet-mapping>
   		<servlet-name>Kcaptcha</servlet-name>
    	<url-pattern>/random.jpg</url-pattern>
	</servlet-mapping>
  
  <servlet>
    <servlet-name>submit</servlet-name>
    <servlet-class>org.lzk.servlet.SubmitActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submit</servlet-name>
    <url-pattern>/submit.action</url-pattern>
  </servlet-mapping>
</web-app>